@import-normalize;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

}
body.active{
  overflow: hidden;
}
.root {
  background: #585cc6 url("../public/image/main/back.svg") 100% 0 no-repeat;
}
@media (max-width: 900px) {
  .root {
    background: #585cc6 url("../public/image/main/back.svg") 10% 26% no-repeat;
  }
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.eot");
  src: url("./fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Bold.woff2") format("woff2"), url("./fonts/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype"), url("./fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Factor A";
  src: url("./fonts/FactorA-Bold.eot");
  src: url("./fonts/FactorA-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/FactorA-Bold.woff2") format("woff2"), url("./fonts/FactorA-Bold.woff") format("woff"),
    url("./fonts/FactorA-Bold.ttf") format("truetype"), url("./fonts/FactorA-Bold.svg#FactorA-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Factor A";
  src: url("./fonts/FactorA-Regular.eot");
  src: url("./fonts/FactorA-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/FactorA-Regular.woff2") format("woff2"), url("./fonts/FactorA-Regular.woff") format("woff"),
    url("./fonts/FactorA-Regular.ttf") format("truetype"),
    url("./fonts/FactorA-Regular.svg#FactorA-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Factor A";
  src: url("./fonts/FactorAMedium-Regular.eot");
  src: url("./fonts/FactorAMedium-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/FactorAMedium-Regular.woff2") format("woff2"), url("./fonts/FactorAMedium-Regular.woff") format("woff"),
    url("./fonts/FactorAMedium-Regular.ttf") format("truetype"),
    url("./fonts/FactorAMedium-Regular.svg#FactorAMedium-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Semibold.eot");
  src: url("./fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Semibold.woff2") format("woff2"), url("./fonts/Gilroy-Semibold.woff") format("woff"),
    url("./fonts/Gilroy-Semibold.ttf") format("truetype"),
    url("./fonts/Gilroy-Semibold.svg#Gilroy-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-MediumItalic.eot");
  src: url("./fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("./fonts/Gilroy-MediumItalic.woff") format("woff"),
    url("./fonts/Gilroy-MediumItalic.ttf") format("truetype"),
    url("./fonts/Gilroy-MediumItalic.svg#Gilroy-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.eot");
  src: url("./fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2"), url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype"), url("./fonts/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.eot");
  src: url("./fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Medium.woff2") format("woff2"), url("./fonts/Gilroy-Medium.woff") format("woff"),
    url("./fonts/Gilroy-Medium.ttf") format("truetype"), url("./fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
